body, .card-body {
    font-family: Nunito !important;
    background: #edf1f3;
    color: #333;
    font-size: .95rem;
}

.logo {
    font-size: 25px;
}

.card-body {
    padding: 0.50rem;
}

.table td {
    vertical-align: middle !important;
    font-size: .90rem;
}

.nav-item {
    margin-left: 5px;
}

.nav-item a {
    font-size: .95rem;
}

.table thead {
    background: #DAE0E5;
    color: #666;
    font-size: .90rem;
}

.card {
    border: none;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: #d3d3d3;
    border: none;
    outline: none;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #999;
    outline: none;
    margin-bottom: 5px;
}

table.dataTable {
    border-collapse: collapse !important;
}

.table-bordered td, .table-bordered th {
    border: none;
    border-bottom: 1px solid #eee !important;
}

.table td, .table th {
    padding: .50rem;
}

.badge {
    font-size: .90rem;
}

.badge-primary {
    background-color: #8ebef2;
    color: #212529;
}

.badge-secondary {
    background-color: #DAE0E5;
    color: #212529;
}

.badge-info {
    background-color: #c4e7ed;
    color: #212529;
}

.badge-success {
    background-color: #a2e5b1;
    color: #212529;
}

.badge-warning {
    background-color: #FFF382;
    color: #212529;
}

.badge-danger {
    background-color: #f4bcc1;
    color: #212529;
}

.dataTables_wrapper .dataTables_processing {
    background-color: #a2e5b1;
    color: #212529;
}

.table-hover tbody tr {
    background-color: #fff !important;
}

.table-hover tbody tr:hover {
    background-color: #edf1f3 !important;
}

.icon {
    color: #666;
    font-size: 1.2rem;
}

.icon:hover {
    color: #000;
    font-size: 1.2rem;
}
